.MainPage2 {
    width: 100vw;
    height: 100vh;
}

.Header {
    width: 100%;
    height: 25%;
    background-color: rgb(238, 238, 238);
}

.header_content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.Header img {
    height: 16%;
    width: 12%;
}

.pageTitle{
    font-size: 2.5em;
    margin-left: 1%;
    font-weight: 550;
}

.PostInput{
    display: flex;
    align-items: center;
    text-align: center;
    height: 27%;
    width: 100%;
    margin: 3% 0;
}

.input_content{
    width: 100%;
    height: 100%;
}

.input_title {
    margin-bottom: 3%;
}

.input_field{
    margin-top: 1%;
}

.input_field input {
    padding: 1px;
}

.input_field button{
    margin-left: 1%;
}

.Footer {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5%;
    width : 100%;
    background-color: #f76c6c ;
    text-align: center;
    align-items: center;
    margin-top: 2em;
    padding : 0.25em 0;
}

.footer_content {
    margin-left: auto;
    margin-right: auto;
}

.footer_txt {
    color: white;
    height: 100%;
}
