/* .Argonautes {
    color: rgb(170, 55, 55);
}

.names {
    display: flex;
    flex-wrap: wrap;
}

.names .name{
    flex: 1 0 25%;
    box-sizing: border-box;
    background: #e0ddd5;
    color: #171e42;
    padding: 10px;
} */